WhatsappApi/WhatsappApi/app_configuration.json
PersonalAccountApisender/PersonalAccountApisender/app_configuration.json
ParentSenderApi/ParentSenderApi/app_configuration.json
docker-runner/whatsapp-api/logs
node_modules
.env
dist
bundle
swcore/data
webhook-http-api-consumer/out
/.idea/
/swcore/logs/
/swcore/.history/
/.history/
/swhttpqr/out
/.vscode/
swcore/config/app.log.env
docker-runner/swcore/config/app.env
swcore/config/app.env
docker-runner/.env
docker-runner/webhooker/config/app.env
swcoremigration/config/app.env
diskcache
api-gateway/api-gateway/out/
app.env
wacore/data